.app {
  font-family: "Merriweather", serif;
  font-weight: 400;
  width: 600px;
  margin:0 auto;
  background-color: darkcyan;
  padding: 16px;
  border-radius: 26px;
  color: white;
  text-align: center;

}

